.text-button {
  display: flex;
  align-items: center;
}

$animate: all 1s ease-in-out;

.cta {
  font-family: Proza Libre;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 0;
  color: #211114;
  position: relative;
  transition: $animate;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0px;
    height: 2px;
    transition: $animate;
    opacity: 0;
    background-color: #211114;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

svg {
  padding-left: 8px;
  transition: transform 0.3s ease-out;
  animation: fadeIn 0.4s ease-in-out;
}

.text-button:hover {
  cursor: pointer;

  svg {
    transform: translateX(8px);
    color: #075663;
  }

  .cta {
    color: #075663;
  }

  .cta {
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
      background-color: #075663;
    }
  }
}

.text-button:active {
  svg {
    color: #397882;
  }

  .cta {
    color: #397882;
  }

  .cta {
    &:before,
    &:after {
      background-color: #397882;
    }
  }
}
