.hero-image {
  background-image: url("../../Assets/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
}

.hero-grid {
  margin: 0 130px;
  display: grid;
  grid-template-columns: repeat(12, 80px);
  grid-column-gap: 20px;
  height: 100vh;
  align-content: end;
}
